/* Estilos gerais */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* fonte geral */
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    
}

body{
    background-color: #181717;
    height: 100vh;
}

img{
    width: 60px;
    display: block;
}
.interface{
    max-width: 1280px;
    margin: 0 auto;
}
.flex{
    display: flex;
    gap: 90px;
}
.btn-contato button{
    padding: 10px 15px;
    font-size: 13px;
    font-weight: 500;
    background-color:#f8faed;
    border: 0;
    border-radius: 80px;
    cursor: pointer;    
}
/*Estilo do cabeçalho */
header{
    padding: 40px 4%;
    display: flex;
    box-sizing: border-box; 
    justify-content: center;
}
header > .interface{
    max-width: 1280px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 80px;
    margin: 0 20px;
}
header .menu-desktop ul{
    display: flex;
    align-items: center;
    gap: 60px;
}
/* links do menu */
header a{
    color: #f8faed;
    text-decoration: none;
    display: inline-block;
}
header nav ul{
    list-style-type: none;
}
header nav ul li{
    display: inline-block;
    padding: 0 40px;
}
header a:hover{
    /* quero mudar as cores depois */     
    transform: scale(1.05);
    transition: all 0.4s ease;
}
.btn-contato button:hover{
    box-shadow: 0px 0px 10px #f8faed;
    transform: scale(1.05);
    transition: all 0.4s ease;
}

/* estilo do topo do site */
section.topo-do-site{
    padding: 40px 4%;
    color: #fff;
}
section.topo-do-site .flex{ /* txt e botão do topo */
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.txt-topo-site h1{ /* txt maior do topo do site */
    color: #fff;
    font-size: 35px;
    font-weight: 400;
    line-height: 40px;
}
.txt-topo-site p{ /* txt menor do topo do site */
    color: #fff;
    margin: 40px 0;
}
.img-topo-site img{ /* img do topo do site */
    position: relative;
    width: 250px;
    margin-right: 90px;
    border-radius: 5px 60px 5px;
    animation: flutuar 2s ease-in-out infinite alternate;
}
@keyframes flutuar{
    0%{
        top: 0px;
    }
    100%{
        top: 30px;
    }
}
