@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Poppins:wght@300;400;500&display=swap');
@import "tailwindcss";
@theme {
  --font-poppins: "Poppins", sans-serif;
  --font-archivoblack: "Archivo Black", sans-serif;
  --font-montserrat: "Montserrat", sans-serif;
  --color-offwhite: #D9D9D9;
  --color-primary: #bc96e6;
  --color-section-sobre: #010101;
}
@layer base {
  html {
    scroll-behavior: smooth;
  }
  body {
    @apply h-screen font-poppins font-light; 
  }
}
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink {
  50% { border-color: transparent }
}

.typewriter {
  display: inline-block;
  width: 0;
  animation: 
    typing 3.5s steps(52, end) forwards,
    blink .7s infinite;
}
@keyframes marquee {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(calc(-100% - var(--gap)));
  }
}

@keyframes marquee-vertical {
  from {
    transform: translateY(0%);
  }
  to {
    transform: translateY(calc(-100% - var(--gap)));
  }
}

.animate-marquee {
  animation: marquee var(--duration) linear infinite;
}

.animate-marquee-vertical {
  animation: marquee-vertical var(--duration) linear infinite;
}